.efpos{
    // background-color: #fdcb9e;
     width: 100%;
     padding-top: 150px;
     position: relative;
     top: -100px;
 
     h1{
         font-size: 20rem;
         font-weight: bold;
     }
 
     h2{
         font-size: 15rem;
         margin: 50px;
     }
 
 }
 