header{
    h1 {
        margin: 50px 0;
        font-size: 25rem;
        font-weight: bold;
    }

    h3{
        margin: 50px 0;
        font-size: 20rem;
    }

    img{
        width: 60%;
    }
}